manifest {
    name            = 'OmicsFlow-BulkRNAseq'
    author          = 'Nasir Mahmood Abbasi'
    description     = 'End-to-end bulk RNA-seq pipeline: QC → Trimming → Mapping → Quantification'
    mainScript      = 'main.nf'
    version         = '1.0.0'
}

params {
    samplesheet      = null
    hisat2_index     = null
    gtf_file         = null
    outdir           = 'results'
    help             = false
    publish_dir_mode = 'copy'

    // Trimming
    trim_min_length  = 30

    // FeatureCounts
    fc_feature_type  = 'exon'
    fc_attribute_type= 'gene_id'
}

profiles {
    slurm {
        process.executor     = 'slurm'
        process.queue        = 'normal'
        process.clusterOptions = '--account=your_account'
    }
    conda {
        conda.enabled        = true
        process.conda        = "${projectDir}/envs/omicsflow.yaml"
    }
    local {
        process.executor     = 'local'
    }
}

process {
    withLabel: 'process_low' {
        cpus   = 2
        memory = 8.GB
        time   = 4.h
    }
    withLabel: 'process_medium' {
        cpus   = 8
        memory = 32.GB
        time   = 12.h
    }
    withLabel: 'process_high' {
        cpus   = 16
        memory = 64.GB
        time   = 24.h
    }
}
